/* Figma Styles of your File */:root {
  /* Colors */
  --bvcremanusspace-abbey: #54565a;
  --bvcremanusspace-abbey: #595a5c;
  --bvcremanusspace-alizarin-crimson: #eb2030;
  --bvcremanusspace-alizarin-crimson: #eb2030;
  --bvcremanusspace-alto: #e1e2e1;
  --bvcremanusspace-alto: #d4d4d4;
  --bvcremanusspace-apple: #4c9c2e;
  --bvcremanusspace-apple: #49b34a;
  --bvcremanusspace-astronaut: #28377b;
  --bvcremanusspace-athens-gray: #f9fafb;
  --bvcremanusspace-athens-gray: #f3f4f6;
  --bvcremanusspace-athens-gray: #e5e7eb;
  --bvcremanusspace-athens-gray: #e9ecef;
  --bvcremanusspace-athens-gray: #f9fafb;
  --bvcremanusspace-atoll: #0a5777;
  --bvcremanusspace-azure: #2e5dab;
  --bvcremanusspace-bahama-blue: #00609c;
  --bvcremanusspace-bay-of-many: #2c3a8f;
  --bvcremanusspace-bermuda: #77ccd8;
  --bvcremanusspace-black: #000000;
  --bvcremanusspace-black-0: rgba(0, 0, 0, 0.00);
  --bvcremanusspace-black-50: rgba(0, 0, 0, 0.50);
  --bvcremanusspace-blaze-orange: #ff6900;
  --bvcremanusspace-blue-ribbon: #0c72e8;
  --bvcremanusspace-blue-stone: #035c67;
  --bvcremanusspace-blumine: #1a5276;
  --bvcremanusspace-boulder: #6c757d;
  --bvcremanusspace-boulder: #7d7d7d;
  --bvcremanusspace-buttercup: #f5a623;
  --bvcremanusspace-calypso: #3a6895;
  --bvcremanusspace-cerulean: #00a7e1;
  --bvcremanusspace-chambray: #3a6895;
  --bvcremanusspace-cinnabar: #e53935;
  --bvcremanusspace-cod-gray: #0d0d0d;
  --bvcremanusspace-cod-gray: #181818;
  --bvcremanusspace-cod-gray: #141414;
  --bvcremanusspace-concrete: #e8f4fd;
  --bvcremanusspace-congress-blue: #004987;
  --bvcremanusspace-cornflower: #88b2df;
  --bvcremanusspace-cornflower: #79d2f7;
  --bvcremanusspace-danube: #4b93c9;
  --bvcremanusspace-danube: #56b7e7;
  --bvcremanusspace-denim: #1c76bc;
  --bvcremanusspace-dodger-blue: #51a2ff;
  --bvcremanusspace-ebony: #101828;
  --bvcremanusspace-endeavour: #4a5565;
  --bvcremanusspace-endeavour: #146394;
  --bvcremanusspace-endeavour: #4a5565;
  --bvcremanusspace-endeavour: #146394;
  --bvcremanusspace-french-pass: #bedbff;
  --bvcremanusspace-go-ben: #757a4d;
  --bvcremanusspace-gray-chateau: #99a1af;
  --bvcremanusspace-gray-chateau: #9ca3af;
  --bvcremanusspace-gray-nurse: #e1e2e1;
  --bvcremanusspace-green-pea: #1b5f39;
  --bvcremanusspace-green-pea: #266835;
  --bvcremanusspace-green-vogue: #021d49;
  --bvcremanusspace-havelock-blue: #51a1d9;
  --bvcremanusspace-hawkes-blue: #e8f4fd;
  --bvcremanusspace-international-klein-blue: #000f9f;
  --bvcremanusspace-jacksons-purple: #2e289e;
  --bvcremanusspace-jacksons-purple: #146394;
  --bvcremanusspace-jacksons-purple: #243c96;
  --bvcremanusspace-jumbo: #818285;
  --bvcremanusspace-jumbo: #6c757d;
  --bvcremanusspace-jumbo: #75767a;
  --bvcremanusspace-jumbo: #7d7d7d;
  --bvcremanusspace-jumbo: #7d7d80;
  --bvcremanusspace-jumbo: #797a7d;
  --bvcremanusspace-jumbo: #818285;
  --bvcremanusspace-lochmara: #0174bc;
  --bvcremanusspace-lochmara: #0777bd;
  --bvcremanusspace-mantis: #63ba58;
  --bvcremanusspace-martinique: #303151;
  --bvcremanusspace-matisse: #146394;
  --bvcremanusspace-matisse: #146394;
  --bvcremanusspace-matisse: #0777bd;
  --bvcremanusspace-matisse: #146394;
  --bvcremanusspace-matisse: #146394;
  --bvcremanusspace-matisse: #146394;
  --bvcremanusspace-matisse: #146394;
  --bvcremanusspace-mid-gray: #6c6d71;
  --bvcremanusspace-midnight-blue: #002d5d;
  --bvcremanusspace-mine-shaft: #333333;
  --bvcremanusspace-mirage: #1e2939;
  --bvcremanusspace-mischka: #d1d5db;
  --bvcremanusspace-mischka: #d1d5db;
  --bvcremanusspace-mischka: #ced4da;
  --bvcremanusspace-mosque: #065b6d;
  --bvcremanusspace-nevada: #6d6e71;
  --bvcremanusspace-nobel: #b5b5b5;
  --bvcremanusspace-orient: #004987;
  --bvcremanusspace-orient: #004987;
  --bvcremanusspace-orient: #004987;
  --bvcremanusspace-oxford-blue: #364153;
  --bvcremanusspace-pale-sky: #6a7282;
  --bvcremanusspace-pale-sky: #6c757d;
  --bvcremanusspace-persian-green: #009490;
  --bvcremanusspace-picton-blue: #4191ce;
  --bvcremanusspace-picton-blue: #4191ce;
  --bvcremanusspace-quill-gray: #cececf;
  --bvcremanusspace-resolution-blue: #004987;
  --bvcremanusspace-river-bed: #4a5565;
  --bvcremanusspace-rolling-stone: #7d7d80;
  --bvcremanusspace-royal-blue: #6c48f6;
  --bvcremanusspace-san-marino: #1c76bc;
  --bvcremanusspace-san-marino: #416da3;
  --bvcremanusspace-sea-buckthorn: #faa62e;
  --bvcremanusspace-sea-buckthorn: #faa62e;
  --bvcremanusspace-seashell: #e9f6f5;
  --bvcremanusspace-shakespeare: #6b87ba;
  --bvcremanusspace-ship-cove: #6b87ba;
  --bvcremanusspace-shuttle-gray: #68696c;
  --bvcremanusspace-silver: #bababa;
  --bvcremanusspace-silver: #c0c0c0;
  --bvcremanusspace-picton-blue: #56b7e7;
  --bvcremanusspace-silver: #c4c4c4;
  --bvcremanusspace-silver-chalice: #9f9f9f;
  --bvcremanusspace-silver-chalice: #a7a6a6;
  --bvcremanusspace-silver-sand: #c7c8c9;
  --bvcremanusspace-steel-blue: #498bc2;
  --bvcremanusspace-steel-blue: #4882b8;
  --bvcremanusspace-steel-blue: #467ab2;
  --bvcremanusspace-sushi: #83c443;
  --bvcremanusspace-tory-blue: #146394;
  --bvcremanusspace-silver-sand: #cacbcc;
  --bvcremanusspace-trinidad: #e65100;
  --bvcremanusspace-turmeric: #d1ad4d;
  --bvcremanusspace-viking: #83afdd;
  --bvcremanusspace-whiskey: #d49173;
  --bvcremanusspace-white: #ffffff;
  --bvcremanusspace-white-02: rgba(255, 255, 255, 0.00);
  --bvcremanusspace-white-15: rgba(255, 255, 255, 0.15);
  --bvcremanusspace-white-80: rgba(255, 255, 255, 0.80);
  --bvcremanusspace-white-athens-gray: linear-gradient(to left, #f9fafb, #f9fafb), linear-gradient(to left, #ffffff, #ffffff);
  --bvcremanusspace-wistful: #a8acd4;
  --bvcremanusspace-zumthor: #eff6ff;
  --bvcremanusspace-zumthor-30: rgba(239, 246, 255, 0.30);

  /* Fonts */
  --bvcremanusspace-semantic-button-font-family: Tajawal-Medium, sans-serif;
  --bvcremanusspace-semantic-button-font-size: 14px;
  --bvcremanusspace-semantic-button-line-height: 20px;
  --bvcremanusspace-semantic-button-font-weight: 500;
  --bvcremanusspace-semantic-button-font-style: normal;
  --bvcremanusspace-semantic-button-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-button-font-size: 14px;
  --bvcremanusspace-semantic-button-line-height: 20px;
  --bvcremanusspace-semantic-button-font-weight: 700;
  --bvcremanusspace-semantic-button-font-style: normal;
  --bvcremanusspace-semantic-button-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-button-font-size: 18px;
  --bvcremanusspace-semantic-button-line-height: 28px;
  --bvcremanusspace-semantic-button-font-weight: 700;
  --bvcremanusspace-semantic-button-font-style: normal;
  --bvcremanusspace-semantic-heading-1-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-1-font-size: 20px;
  --bvcremanusspace-semantic-heading-1-line-height: 28px;
  --bvcremanusspace-semantic-heading-1-font-weight: 700;
  --bvcremanusspace-semantic-heading-1-font-style: normal;
  --bvcremanusspace-semantic-heading-1-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-1-font-size: 42px;
  --bvcremanusspace-semantic-heading-1-line-height: 58.8px;
  --bvcremanusspace-semantic-heading-1-font-weight: 700;
  --bvcremanusspace-semantic-heading-1-font-style: normal;
  --bvcremanusspace-semantic-button-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-button-font-size: 16px;
  --bvcremanusspace-semantic-button-line-height: 24px;
  --bvcremanusspace-semantic-button-font-weight: 700;
  --bvcremanusspace-semantic-button-font-style: normal;
  --bvcremanusspace-semantic-heading-2-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-2-font-size: 24px;
  --bvcremanusspace-semantic-heading-2-line-height: 32px;
  --bvcremanusspace-semantic-heading-2-font-weight: 700;
  --bvcremanusspace-semantic-heading-2-font-style: normal;
  --bvcremanusspace-semantic-heading-2-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-2-font-size: 30px;
  --bvcremanusspace-semantic-heading-2-line-height: 36px;
  --bvcremanusspace-semantic-heading-2-font-weight: 700;
  --bvcremanusspace-semantic-heading-2-font-style: normal;
  --bvcremanusspace-semantic-heading-2-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-2-font-size: 36px;
  --bvcremanusspace-semantic-heading-2-line-height: 40px;
  --bvcremanusspace-semantic-heading-2-font-weight: 700;
  --bvcremanusspace-semantic-heading-2-font-style: normal;
  --bvcremanusspace-semantic-heading-3-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-3-font-size: 16px;
  --bvcremanusspace-semantic-heading-3-line-height: 24px;
  --bvcremanusspace-semantic-heading-3-font-weight: 700;
  --bvcremanusspace-semantic-heading-3-font-style: normal;
  --bvcremanusspace-semantic-heading-3-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-3-font-size: 18px;
  --bvcremanusspace-semantic-heading-3-line-height: 28px;
  --bvcremanusspace-semantic-heading-3-font-weight: 700;
  --bvcremanusspace-semantic-heading-3-font-style: normal;
  --bvcremanusspace-semantic-heading-3-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-3-font-size: 20px;
  --bvcremanusspace-semantic-heading-3-line-height: 28px;
  --bvcremanusspace-semantic-heading-3-font-weight: 700;
  --bvcremanusspace-semantic-heading-3-font-style: normal;
  --bvcremanusspace-semantic-heading-3-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-heading-3-font-size: 24px;
  --bvcremanusspace-semantic-heading-3-line-height: 32px;
  --bvcremanusspace-semantic-heading-3-font-weight: 700;
  --bvcremanusspace-semantic-heading-3-font-style: normal;
  --bvcremanusspace-semantic-img-font-family: Inter-Regular, sans-serif;
  --bvcremanusspace-semantic-img-font-size: 3.3935248851776123px;
  --bvcremanusspace-semantic-img-line-height: normal;
  --bvcremanusspace-semantic-img-font-weight: 400;
  --bvcremanusspace-semantic-img-font-style: normal;
  --bvcremanusspace-semantic-img-font-family: Inter-Regular, sans-serif;
  --bvcremanusspace-semantic-img-font-size: 6.02809476852417px;
  --bvcremanusspace-semantic-img-line-height: normal;
  --bvcremanusspace-semantic-img-font-weight: 400;
  --bvcremanusspace-semantic-img-font-style: normal;
  --bvcremanusspace-semantic-img-font-family: Inter-Bold, sans-serif;
  --bvcremanusspace-semantic-img-font-size: 16.592592239379883px;
  --bvcremanusspace-semantic-img-line-height: normal;
  --bvcremanusspace-semantic-img-font-weight: 700;
  --bvcremanusspace-semantic-img-font-style: normal;
  --bvcremanusspace-semantic-img-font-family: Inter-Bold, sans-serif;
  --bvcremanusspace-semantic-img-font-size: 59.25925827026367px;
  --bvcremanusspace-semantic-img-line-height: normal;
  --bvcremanusspace-semantic-img-font-weight: 700;
  --bvcremanusspace-semantic-img-font-style: normal;
  --bvcremanusspace-semantic-input-font-family: Tajawal-Light, sans-serif;
  --bvcremanusspace-semantic-input-font-size: 14px;
  --bvcremanusspace-semantic-input-line-height: normal;
  --bvcremanusspace-semantic-input-font-weight: 300;
  --bvcremanusspace-semantic-input-font-style: normal;
  --bvcremanusspace-semantic-input-font-family: Tajawal-Light, sans-serif;
  --bvcremanusspace-semantic-input-font-size: 16px;
  --bvcremanusspace-semantic-input-line-height: normal;
  --bvcremanusspace-semantic-input-font-weight: 300;
  --bvcremanusspace-semantic-input-font-style: normal;
  --bvcremanusspace-semantic-label-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-semantic-label-font-size: 14px;
  --bvcremanusspace-semantic-label-line-height: 20px;
  --bvcremanusspace-semantic-label-font-weight: 400;
  --bvcremanusspace-semantic-label-font-style: normal;
  --bvcremanusspace-semantic-label-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-label-font-size: 14px;
  --bvcremanusspace-semantic-label-line-height: 20px;
  --bvcremanusspace-semantic-label-font-weight: 700;
  --bvcremanusspace-semantic-label-font-style: normal;
  --bvcremanusspace-semantic-label-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-label-font-size: 16px;
  --bvcremanusspace-semantic-label-line-height: 24px;
  --bvcremanusspace-semantic-label-font-weight: 700;
  --bvcremanusspace-semantic-label-font-style: normal;
  --bvcremanusspace-semantic-label-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-semantic-label-font-size: 16px;
  --bvcremanusspace-semantic-label-line-height: 16px;
  --bvcremanusspace-semantic-label-font-weight: 700;
  --bvcremanusspace-semantic-label-font-style: normal;
  --bvcremanusspace-semantic-link-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-semantic-link-font-size: 14px;
  --bvcremanusspace-semantic-link-line-height: 20px;
  --bvcremanusspace-semantic-link-font-weight: 400;
  --bvcremanusspace-semantic-link-font-style: normal;
  --bvcremanusspace-semantic-link-underline-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-semantic-link-underline-font-size: 12px;
  --bvcremanusspace-semantic-link-underline-line-height: 16px;
  --bvcremanusspace-semantic-link-underline-font-weight: 400;
  --bvcremanusspace-semantic-link-underline-font-style: normal;
  --bvcremanusspace-semantic-options-font-family: Tajawal-Light, sans-serif;
  --bvcremanusspace-semantic-options-font-size: 16px;
  --bvcremanusspace-semantic-options-line-height: 24px;
  --bvcremanusspace-semantic-options-font-weight: 300;
  --bvcremanusspace-semantic-options-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 16px;
  --bvcremanusspace-tajawal-bold-line-height: 26px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 24px;
  --bvcremanusspace-tajawal-bold-line-height: 36px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 26px;
  --bvcremanusspace-tajawal-bold-line-height: 39px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 27px;
  --bvcremanusspace-tajawal-bold-line-height: 40.5px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 12px;
  --bvcremanusspace-tajawal-bold-line-height: 16px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 29px;
  --bvcremanusspace-tajawal-bold-line-height: 43.5px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;
  --bvcremanusspace-tajawal-medium-font-family: Tajawal-Medium, sans-serif;
  --bvcremanusspace-tajawal-medium-font-size: 12px;
  --bvcremanusspace-tajawal-medium-line-height: 16px;
  --bvcremanusspace-tajawal-medium-font-weight: 500;
  --bvcremanusspace-tajawal-medium-font-style: normal;
  --bvcremanusspace-tajawal-medium-font-family: Tajawal-Medium, sans-serif;
  --bvcremanusspace-tajawal-medium-font-size: 14px;
  --bvcremanusspace-tajawal-medium-line-height: 20px;
  --bvcremanusspace-tajawal-medium-font-weight: 500;
  --bvcremanusspace-tajawal-medium-font-style: normal;
  --bvcremanusspace-tajawal-medium-font-family: Tajawal-Medium, sans-serif;
  --bvcremanusspace-tajawal-medium-font-size: 16px;
  --bvcremanusspace-tajawal-medium-line-height: 24px;
  --bvcremanusspace-tajawal-medium-font-weight: 500;
  --bvcremanusspace-tajawal-medium-font-style: normal;
  --bvcremanusspace-tajawal-regular-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-tajawal-regular-font-size: 12px;
  --bvcremanusspace-tajawal-regular-line-height: 16px;
  --bvcremanusspace-tajawal-regular-font-weight: 400;
  --bvcremanusspace-tajawal-regular-font-style: normal;
  --bvcremanusspace-tajawal-regular-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-tajawal-regular-font-size: 14px;
  --bvcremanusspace-tajawal-regular-line-height: 22.75px;
  --bvcremanusspace-tajawal-regular-font-weight: 400;
  --bvcremanusspace-tajawal-regular-font-style: normal;
  --bvcremanusspace-tajawal-regular-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-tajawal-regular-font-size: 16px;
  --bvcremanusspace-tajawal-regular-line-height: 24px;
  --bvcremanusspace-tajawal-regular-font-weight: 400;
  --bvcremanusspace-tajawal-regular-font-style: normal;
  --bvcremanusspace-tajawal-regular-font-family: Tajawal-Regular, sans-serif;
  --bvcremanusspace-tajawal-regular-font-size: 18px;
  --bvcremanusspace-tajawal-regular-line-height: 29.25px;
  --bvcremanusspace-tajawal-regular-font-weight: 400;
  --bvcremanusspace-tajawal-regular-font-style: normal;
  --bvcremanusspace-tajawal-bold-font-family: Tajawal-Bold, sans-serif;
  --bvcremanusspace-tajawal-bold-font-size: 12px;
  --bvcremanusspace-tajawal-bold-line-height: 15px;
  --bvcremanusspace-tajawal-bold-font-weight: 700;
  --bvcremanusspace-tajawal-bold-font-style: normal;

  /* Effects */

}
/* Figma Color Variables of your File */:root, [data-bvcremanusspace-mode=mode-1] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-azure-33: #146394;
  --color-white-80: rgba(255, 255, 255, 0.80);
  --color-grey-98: #f9fafb;
  --color-azure-28: #1a5276;
  --color-grey-96: #f3f4f6;
  --color-white-02: rgba(255, 255, 255, 0.00);
  --color-blue-31: #000f9f;
  --color-azure-53: #4191ce;
  --color-azure-44: #00a7e1;
  --color-azure-26: #004987;
  --color-grey-94: #e9f6f5;
  --color-grey-93: #e9ecef;
  --color-cyan-81: #afe1ee;
  --color-cyan-64: #5ecaea;
  --color-azure-72: #79d2f7;
  --color-azure-42: #1c76bc;
  --color-azure-43: #2e5dab;
  --color-blue-37: #2c3a8f;
  --color-azure-62: #56b7e7;
  --color-blue-39: #2e289e;
  --color-azure-48: #0c72e8;
  --color-grey-80: #cacbcc;
  --color-grey-95: #e8f4fd;
  --color-blue-32: #28377b;
  --color-azure-34: #4a5565;
  --color-black-solid: #000000;
  --color-grey-73: #bababa;
  --color-azure-57: #6b87ba;
  --color-azure-18: #002d5d;
  --color-azure-15: #021d49;
  --color-grey-34: #54565a;
  --color-azure-84: #d1d5db;
  --color-grey-88: #e1e2e1;
  --color-azure-64: #99a1af;
  --color-azure-38: #0777bd;
  --color-orange-55: #f5a623;
  --color-grey-46: #6c757d;
  --color-grey-91: #e5e7eb;
  --color-cyan-50: #00e5ff;
  --color-cyan-50-0: rgba(0, 229, 255, 0.00);
  --color-grey-20: #333333;
  --color-red-55: #e53935;
  --color-orange-45: #e65100;
  --color-black-0: rgba(0, 0, 0, 0.00);
  --color-grey-75: #c0c0c0;
  --color-azure-66: #51a2ff;
  --color-orange-58: #faa62e;
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-azure-65: #9ca3af;
  --color-grey-97-30: rgba(239, 246, 255, 0.30);
  --color-azure-46: #6a7282;
  --color-grey-97: #eff6ff;
  --color-azure-87: #bedbff;
  --color-azure-27: #364153;
  --color-blue-62: #6c48f6;
  --color-blue-75: #a8acd4;
  --color-blue-25: #303151;
  --color-grey-81: #cececf;
  --color-cyan-21: #035c67;
  --color-yellow-39: #757a4d;
  --color-grey-51: #818285;
  --color-orange-50: #ff6900;
  --color-spring-green-24: #1b5f39;
  --color-orange-56: #d1ad4d;
  --color-grey-5: #0d0d0d;
  --color-grey-9: #181818;
  --color-grey-8: #141414;
  --color-azure-41: #3a6895;
  --color-azure-58: #51a1d9;
  --color-grey-42: #68696c;
  --color-azure-70: #88b2df;
  --color-azure-69: #83afdd;
  --color-grey-62: #9f9f9f;
  --color-grey-43: #6c6d71;
  --color-grey-47: #75767a;
  --color-grey-50: #7d7d80;
  --color-grey-65: #a7a6a6;
  --color-grey-83: #d4d4d4;
  --color-grey-71: #b5b5b5;
  --color-grey-77: #c4c4c4;
  --color-azure-45: #416da3;
  --color-azure-54: #4b93c9;
  --color-azure-52: #498bc2;
  --color-azure-50: #4882b8;
  --color-azure-49: #467ab2;
  --color-azure-31: #00609c;
  --color-chartreuse-green-40: #4c9c2e;
  --color-red-52: #eb2030;
  --color-azure-37: #0174bc;
  --color-grey-49: #7d7d7d;
  --color-grey-48: #797a7d;
  --color-azure-25: #0a5777;
  --color-blue-36: #243c96;
  --color-orange-64: #d49173;
  --color-grey-58: #949494;
  --color-grey-78: #c7c8c9;
  --color-grey-44: #6d6e71;
  --color-cyan-29: #009490;
  --color-green-28: #266835;
  --color-chartreuse-green-52: #83c443;
  --color-green-49: #49b34a;
  --color-green-54: #63ba58;
  --color-cyan-23: #065b6d;
  --color-grey-35: #595a5c;
  --color-cyan-66: #77ccd8;
  --color-black-50: rgba(0, 0, 0, 0.50);
  --color-azure-11: #101828;
  --color-azure-17: #1e2939;
  --color-azure-83: #ced4da;
}

